@charset "UTF-8";
.genPDF-btn {
    margin-left: 30%;
    margin-top: 2%;
}

.sAccCont {
    height: 100%;
    margin-top: 1%;
    padding: 10px;
    display: inline-block;
    width: 100%;
}

.sAccContFilter {
    float: left;
    display: inline-block;
    width: 25%;
}

.sAccContFields {
    margin-top:1%
}

#search-accounts {
    margin-left: 20%;
    margin-top: 3%;
}

#customer_detail {
    width:30%;
}