@media (min-width:320px) { /* smartphones, iPhone, portrait 480x320 phones */
/*#nav{ display:none!important;}*/
#main {
	position: relative!important;
}
.menu-switch {
	display: block!important;
}
.txtBox {
	width: 100px!important;
}
}
 @media (min-width:481px) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
/*#nav{ display:none!important;}*/
#main {
	position: relative!important;
}
.menu-switch {
	display: block!important;
}
.txtBox {
	width: 200px!important;
}
}
@media (min-width:641px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
#main {
	left: 100px!important;
	position: absolute!important;
}
.menu-switch {
	display: none!important;
}
.txtBox {
	width: 300px!important;
}
}
@media (min-width:961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */
#main {
	left: 100px!important;
	position: absolute!important;
}
.menu-switch {
	display: none!important;
}
.txtBox {
	width: 300px!important;
}
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
#main {
	left: 100px!important;
	position: absolute!important;
}
.menu-switch {
	display: none!important;
}
.txtBox {
	width: 500px!important;
}
}
@media (min-width:1281px) { /* hi-res laptops and desktops */
#main {
	left: 100px!important;
	position: absolute!important;
}
.menu-switch {
	display: none!important;
}
.txtBox {
	width: 500px!important;
}
/*.head-title { position: fixed!important;}
#nav {position: fixed!important;}*/
}
.uneditable-input, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
	background-color: #FFFFFF;
	border: 1px solid #ccc;
	border-radius: 0px !important;
	box-shadow: none !important;
	filter: none !important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 15px;
	min-height: 28px;
	padding: 6px 11px !important;
	transition: background 0.2s linear 0s, box-shadow 0.2s linear 0s;
	vertical-align: top;
}
.uneditable-input.focus, textarea:focus, select:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .m-uneditable-input:focus {
	background-color: #fefefe;
	border-color: #E5E9EC;
	box-shadow: none;
	outline: 0 none !important;
}
input[type="radio"], input[type="checkbox"] {
	-moz-box-sizing: border-box;
	cursor: pointer;
	line-height: normal;
	margin: 4px 0 0;
}
input.no-boarder {
	border: medium none;
}
input.dark {
	background-color: #E5E9EC;
	border: medium none;
}
input {
	border: 1px solid #CECECE;
}
textarea {
	height: auto;
	padding-left: 12px !important;
	padding-top: 10px !important;
}
select, input[type="file"] {
	height: 34px !important;
	line-height: 30px;
}
select {
	background-color: #FFFFFF;
	background-image: none !important;
	border: 1px solid #E5E5E5;
	filter: none !important;
	min-height: 28px;
	outline: medium none;
	padding: 3px
}
select[multiple], select[size] {
	height: auto !important;
}
select:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
	box-shadow: none !important;
	outline: thin dotted #333333;
	outline-offset: -2px;
}
input[class*="span"] {
	float: none;
	height: 34px !important;
	margin-left: 0;
}
select[class*="span"], textarea[class*="span"] {
	float: none;
	margin-left: 0;
}
.input-lg {
	border-radius: 3px !important;
	font-size: 18px !important;
	height: 45px !important;
	line-height: 1.33 !important;
}
.input-sm {
	font-size: 13px !important;
}
.input-prepend, .input-append {
	border: 0 none;
	display: inline-block;
}
.input-append .add-on, .input-prepend .add-on {
	background-color: #E5E5E5;
	border: 1px solid #ccc;
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	height: 24px;
	line-height: 24px;
	min-width: 16px;
	text-align: center;
	text-shadow: 0 1px 0 #FFFFFF;
	width: auto;
}
.input-append .add-on > .halflings-icon, .input-prepend .add-on > i, .input-prepend .add-on > .fa {
	margin-left: 3px;
	margin-top: 5px;
}
.input-append .add-on > .halflings-icon .input-append .add-on > i, .input-append .add-on > .fa {
	margin-left: 0;
	margin-top: 5px;
}
.input-append, .input-append *:focus {
	border-right: 0 none !important;
}
.input-append input[class*="span"], .input-prepend input[class*="span"], .input-append input, .input-prepend input {
	display: inline-block !important;
	float: left;
	width: 100%;
}
.btn-default {
	background-color: #BEC3C7;
	border-color: #BEC3C7;
	color: #FFFFFF;
}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
	background-color: #B0B5B9;
	border-color: #B0B5B9;
	color: #FFFFFF;
}
.btn-primary {
	background-color: #41CAC0;
	border-color: #41CAC0;
	color: #FFFFFF;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	background-color: #39B2A9;
	border-color: #39B2A9;
	color: #FFFFFF;
}
.btn-success {
	background-color: #78CD51;
	border-color: #78CD51;
	color: #FFFFFF;
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
	background-color: #6DBB4A;
	border-color: #6DBB4A;
	color: #FFFFFF;
}
.btn-info {
	background-color: #58C9F3;
	border-color: #58C9F3;
	color: #FFFFFF;
}
.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
	background-color: #53BEE6;
	border-color: #53BEE6;
	color: #FFFFFF;
}
.btn-warning {
	background-color: #F1C500;
	border-color: #F1C500;
	color: #FFFFFF;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open .dropdown-toggle.btn-warning {
	background-color: #E4BA00;
	border-color: #E4BA00;
	color: #FFFFFF;
}
.btn-danger {
	background-color: #FF6C60;
	border-color: #FF6C60;
	color: #FFFFFF;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open .dropdown-toggle.btn-danger {
	background-color: #EC6459;
	border-color: #EC6459;
	color: #FFFFFF;
}
.btn-taskA {
    background-color: #f4d25d;
    border-color: #FF6C60;
    color: #FFFFFF;
}
.btn-taskA:hover, .btn-taskA:focus, .btn-taskA:active, .btn-taskA.active, .open .dropdown-toggle.btn-taskA {
    background-color: #f4dd5d;
    border-color: #EC6459;
    color: #FFFFFF;
}
.btn-white {
	box-shadow: none !important;
}
.btn-round {
	border-radius: 30px;
}
.btn-shadow.btn-default {
	box-shadow: 0 4px #9C9C9C;
}
.btn-shadow.btn-primary {
	box-shadow: 0 4px #29B392;
}
.btn-shadow.btn-success {
	box-shadow: 0 4px #61A642;
}
.btn-shadow.btn-info {
	box-shadow: 0 4px #1CAADC;
}
.btn-shadow.btn-warning {
	box-shadow: 0 4px #CAB03F;
}
.btn-shadow.btn-danger {
	box-shadow: 0 4px #D1595A;
}
.btn-group.open .dropdown-toggle, .btn-white.active, .btn:active, .btn.active {
	box-shadow: none;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	background-color: #495D74;
	color: #FFFFFF;
	text-decoration: none;
}
.btn-white {
	background-clip: padding-box;
	background-color: #FFFFFF;
	border-color: rgba(150, 160, 180, 0.3);
	box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.05) inset;
}
.breadcrumb {
	background-color: #FFFFFF;
}
.nav-tabs > li > a {
	margin-right: 1px;
}
.panel-default > .panel-heading {
	background-color: #FFFFFF;
	border-color: #DDDDDD;
	color: #797979;
}
.navbar-inverse {
	background-color: #7087A3;
	border-color: #7087A3;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus {
	background-color: #61748D;
}
.navbar-inverse .navbar-nav > li a:hover {
	color: #2A3542;
}
.navbar-inverse .navbar-nav > li > ul > li a:hover {
	color: #FFFFFF;
}
.navbar-inverse .navbar-brand {
	color: #FFFFFF;
}
.navbar-inverse .navbar-nav > li > a {
	color: #FFFFFF;
}
.navbar-inverse .navbar-nav > .dropdown > a .caret {
	border-bottom-color: #FFFFFF;
	border-top-color: #FFFFFF;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
	color: #000000;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
	color: #FFFFFF;
}
.nav-justified {
	width: auto !important;
}
.nav-justified li:last-child > a:hover, .nav-justified li.active:last-child > a {
	border-radius: 0 4px 0 0 !important;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
	background-color: #00A8B3;
	border-color: #00A8B3;
	color: #FFFFFF;
	z-index: 2;
}
.list-group-item-heading {
	font-weight: 300;
}
.progress {
	background: none repeat scroll 0 0 #F0F2F7;
	box-shadow: none;
}
.alert-success, .alert-danger, .alert-info, .alert-warning {
	border: medium none;
}
label {
	font-weight: 300;
	margin-bottom: 7px;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
	border-radius: 0;
}
.form-control {
	border-radius: 0;
	box-shadow: none;
}


