<form method="post" action="sd.php">
    <input name="junk" type="text">
    <select name="ooo">
        <option value="apple">apple</option>
        <option value="orange">orange</option>
    </select>
    <input type="checkbox" name="vehicle[]" value="Bike"> I have a bike<br>
    <input type="checkbox" name="vehicle[]" value="Car" checked> I have a car<br>
    <select name="sss[]" multiple>
        <option value="apple">apple</option>
        <option value="orange">orange</option>
    </select>
    <input type="submit" value="Submit">
</form>