<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <title>Moon CRM</title>
{$header}
    <script language='javascript'>
        $(function() {
            initMoon();
        });
    </script>
</head>
<body>

<!--Left navbar start-->
<div id="nav">
    <!--logo start-->
    <div class="profile">
        <div class="logo"><a href="dashboard"><img alt="" src="images/logo.png"></a></div>
    </div>
    <!--logo end-->

    <!--navigation start-->
    <ul class="navigation">
        <li><a href="index.html" class="active"><i class="fa fa-home"></i><span>Dashboard</span></a></li>
        <li class="sub"> <a href="#"><i class="fa fa-smile-o"></i><span>UI Elements</span></a>
            <ul class="navigation-sub">
                <li><a href="buttons.html"><i class="fa fa-power-off"></i><span>Button</span></a></li>
                <li><a href="grids.html"><i class="fa fa-columns"></i><span>Grid</span></a></li>
                <li><a href="icons.html"><i class="fa fa-flag"></i><span>Icon</span></a></li>
                <li><a href="tab-accordions.html"><i class="fa fa-plus-square-o"></i><span>Tab / Accordion</span></a></li>
                <li><a href="nestable.html"><i class="fa  fa-arrow-circle-o-down"></i><span>Nestable</span></a></li>
                <li><a href="slider.html"><i class="fa fa-font"></i><span>Slider</span></a></li>
                <li><a href="timeline.html"><i class="fa fa-filter"></i><span>Timeline</span></a></li>
                <li><a href="gallery.html"><i class="fa fa-picture-o"></i><span>Gallery</span></a></li>
            </ul>
        </li>
        <li class="sub"><a href="#"><i class="fa fa-list-alt"></i><span>Forms</span></a>
            <ul class="navigation-sub">
                <li><a href="form-components.html"><i class="fa fa-table"></i><span>Components</span></a></li>
                <li><a href="form-validation.html"><i class="fa fa-leaf"></i><span>Validation</span></a></li>
                <li><a href="form-wizard.html"><i class="fa fa-th"></i><span>Wizard</span></a></li>
                <li><a href="input-mask.html"><i class="fa fa-laptop"></i><span>Input Mask</span></a></li>
                <li><a href="muliti-upload.html"><i class="fa fa-files-o"></i><span>Multi Upload</span></a></li>
            </ul>
        </li>
        <li class="sub"><a href="#"><i class="fa fa-table"></i><span>Table</span></a>
            <ul class="navigation-sub">
                <li><a href="basic-tables.html"><i class="fa fa-table"></i><span>Basic Table</span></a></li>
                <li><a href="data-tables.html"><i class="fa fa-columns"></i><span>Data Table</span></a></li>
            </ul>
        </li>
        <li class="sub"><a href="#"><i class="fa fa fa-envelope"></i><span>Mail</span></a>
            <ul class="navigation-sub">
                <li><a href="mail.html"><i class="fa fa-inbox"></i><span>Inbox</span></a></li>
                <li><a href="mail-compose.html"><i class="fa fa-envelope-o"></i><span>Compose Mail</span></a></li>
            </ul>
        </li>
        <li class="sub"><a href="#"><i class="fa fa-bar-chart-o"></i><span>Charts</span></a>
            <ul class="navigation-sub">
                <li><a href="jqplot.html"><i class="fa fa-book"></i><span>jQplot</span></a></li>
                <li><a href="morris.html"><i class="fa fa-compass"></i><span>Morris</span></a></li>
                <li><a href="chartjs.html"><i class="fa fa-eraser"></i><span>ChartJS</span></a></li>
            </ul>
        </li>
        <li class="sub"><a href="#"><i class="fa fa-folder-open-o"></i><span>Pages</span></a>
            <ul class="navigation-sub">
                <li><a href="fullcalendar.html"><i class="fa fa-calendar"></i><span>Calendar</span></a></li>
                <li><a href="404-error.html"><i class="fa fa-warning"></i><span>404 Error</span></a></li>
                <li><a href="500-error.html"><i class="fa fa-warning"></i><span>500 Error</span></a></li>
                <li><a href="balnk-page.html"><i class="fa fa-copy"></i><span>Blank Page</span></a></li>
                <li><a href="profile.html"><i class="fa fa-user"></i><span>Profile</span></a></li>
                <li><a href="login.html"><i class="fa fa-sign-out"></i><span>Login</span></a></li>
            </ul>
        </li>
    </ul>
    <!--navigation end-->
</div>
<!--Left navbar end-->

<!--main start-->
<div id="main">
<div class="head-title">
    <div class="menu-switch"><i class="fa fa-bars"></i></div>
    <!--row start-->
    <div class="row">
        <!--col-md-12 start-->
        <div class="col-md-12">
            <!--profile dropdown start-->
            <ul class="user-info pull-right fadeInLeftBig animated">
                <li class="hidden-xs">
                    <input type="text" class="form-control page-search" placeholder=" Search">
                </li>
                <li class="profile-info dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img src="images/avatar.jpg" alt="" class="img-circle">Scott henderson </a>
                    <ul class="dropdown-menu">
                        <li class="caret"></li>
                        <li> <a href="edit-profile.html"> <i class="fa fa-user"></i> Edit Profile </a> </li>
                        <li> <a href="mail.html"> <i class="fa fa-inbox"></i> Inbox </a> </li>
                        <li> <a href="fullcalendar.html"> <i class="fa fa-calendar"></i> Calendar </a> </li>
                        <li> <a href="login.html"> <i class="fa fa-clipboard"></i> Log Out </a> </li>
                    </ul>
                </li>
                <li class="hidden-xs"><a href="javascript:;" class="toggle-menu menu-right push-body jPushMenuBtn rightbar-switch"><i class="fa fa-bars"></i></a></li>
            </ul><!--profile dropdown end-->

            <!--top nav start-->
            <ul class="nav top-menu hidden-xs notify-row fadeInRightBig animated">
                <!--task start-->
                <li class="dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" href="#"> <i class="fa fa-tasks"></i> <span class="badge bg-success">6</span> </a>
                    <ul class="dropdown-menu extended tasks-bar">
                        <div class="notify-arrow notify-arrow-red"></div>
                        <li>
                            <p class="red">You have 4 pending tasks</p>
                        </li>
                        <li> <a href="#">
                                <div class="task-info">
                                    <div class="desc">Dashboard v1.3</div>
                                    <div class="percent">40%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete</span> </div>
                                </div>
                            </a> </li>
                        <li> <a href="#">
                                <div class="task-info">
                                    <div class="desc">Database Update</div>
                                    <div class="percent">60%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"> <span class="sr-only">60% Complete (warning)</span> </div>
                                </div>
                            </a> </li>
                        <li> <a href="#">
                                <div class="task-info">
                                    <div class="desc">Iphone Development</div>
                                    <div class="percent">87%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 87%"> <span class="sr-only">87% Complete</span> </div>
                                </div>
                            </a> </li>
                        <li> <a href="#">
                                <div class="task-info">
                                    <div class="desc">Mobile App</div>
                                    <div class="percent">33%</div>
                                </div>
                                <div class="progress progress-striped">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 33%"> <span class="sr-only">33% Complete (danger)</span> </div>
                                </div>
                            </a> </li>
                        <li> <a href="#">
                                <div class="task-info">
                                    <div class="desc">Dashboard v1.3</div>
                                    <div class="percent">45%</div>
                                </div>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%"> <span class="sr-only">45% Complete</span> </div>
                                </div>
                            </a> </li>
                        <li class="external"> <a href="#">See All Tasks</a> </li>
                    </ul>
                </li><!--task end-->

                <!--message start-->
                <li id="header_inbox_bar" class="dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" href="#"> <i class="fa fa-envelope-o"></i> <span class="badge bg-important">5</span> </a>
                    <ul class="dropdown-menu extended inbox">
                        <div class="notify-arrow notify-arrow-red"></div>
                        <li>
                            <p class="red">You have 7 new messages</p>
                        </li>
                        <li> <a href="#"> <span class="photo"><img alt="avatar" src="images/avatar2.jpg"></span> <span class="subject"> <span class="from">Jonathan Smith</span> <span class="time">Just now</span> </span> <span class="message"> consectetur adipiscing elit </span> </a> </li>
                        <li> <a href="#"> <span class="photo"><img alt="avatar" src="images/avatar2.jpg"></span> <span class="subject"> <span class="from">John Doe</span> <span class="time">20 mins</span> </span> <span class="message">consectetur adipiscing elit </span> </a> </li>
                        <li> <a href="#"> <span class="photo"><img alt="avatar" src="images/avatar2.jpg"></span> <span class="subject"> <span class="from">Jonathan Smith</span> <span class="time">5 hrs</span> </span> <span class="message"> This is awesome dashboard. </span> </a> </li>
                        <li> <a href="#"> <span class="photo"><img alt="avatar" src="images/avatar2.jpg"></span> <span class="subject"> <span class="from">John Doe</span> <span class="time">Just now</span> </span> <span class="message"> consectetur adipiscing elit </span> </a> </li>
                        <li class="external"> <a href="#">See all messages</a> </li>
                    </ul>
                </li><!--message end-->

                <!--notification start-->
                <li id="header_notification_bar" class="dropdown"> <a data-toggle="dropdown" class="dropdown-toggle" href="#"> <i class="fa fa-bell-o"></i> <span class="badge bg-warning">7</span> </a>
                    <ul class="dropdown-menu extended notification">
                        <div class="notify-arrow notify-arrow-red"></div>
                        <li>
                            <p class="red">You have 3 new notifications</p>
                        </li>
                        <li> <a href="#"> <span class="label label-danger"><i class="fa fa-bolt"></i></span> Server #3 overloaded. <span class="small italic">34 mins</span> </a> </li>
                        <li> <a href="#"> <span class="label label-warning"><i class="fa fa-bell"></i></span> Server #10 not respoding. <span class="small italic">1 Hours</span> </a> </li>
                        <li> <a href="#"> <span class="label label-danger"><i class="fa fa-bolt"></i></span> Database overloaded 24%. <span class="small italic">4 hrs</span> </a> </li>
                        <li> <a href="#"> <span class="label label-success"><i class="fa fa-plus"></i></span> New user registered. <span class="small italic">Just now</span> </a> </li>
                        <li> <a href="#"> <span class="label label-info"><i class="fa fa-bullhorn"></i></span> Application error. <span class="small italic">10 mins</span> </a> </li>
                        <li class="external"> <a href="#">See all notifications</a> </li>
                    </ul>
                </li><!--notification end-->
            </ul><!--top nav end-->
        </div>
        <!--col-md-12 end-->
    </div>
    <!--row end-->
</div>
<!--margin-container start-->
<div class="margin-container">
<!--scrollable wrapper start-->
<div class="scrollable wrapper body-content">
<!--row start-->
<div class="row">
    <!--col-md-12 start-->
    <div class="col-md-12">
        <div class="page-heading">
            <h1>Dashboard <small>your first page</small></h1>
        </div>
    </div>
    <!--col-md-12 end-->
    <div class="col-sm-6 col-md-3">
        <div class="box-info">
            <div class="title-box">
                <h3>October 2013</h3>
                <div class="blue-bg">
                    <p>Increaser Profit By </p>
                    <h1> 30%</h1>
                </div>
                <i class="fa fa-tablet"></i>
                <div class="pull-right" id="work-progress1"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="box-info">
            <div class="title-box">
                <h3>November 2013</h3>
                <div class="red-bg">
                    <p>Increaser Profit By </p>
                    <h1> 47%</h1>
                </div>
                <i class="fa fa-medkit"></i>
                <div class="pull-right" id="work-progress2"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="box-info">
            <div class="title-box">
                <h3>December 2013</h3>
                <div class="green-bg">
                    <p>Increaser Profit By </p>
                    <h1> 57%</h1>
                </div>
                <i class="fa fa-volume-up"></i>
                <div class="pull-right" id="work-progress3"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="box-info">
            <div class="title-box">
                <h3>January 2014</h3>
                <div class="maroon-bg">
                    <p>Increaser Profit By </p>
                    <h1> 77%</h1>
                </div>
                <i class="fa fa-comment-o"></i>
                <div class="pull-right" id="work-progress4"></div>
            </div>
        </div>
    </div>
</div>
<!--row end-->
<div class="row">
    <div class="col-md-12">
        <div class="box-info">

            <div style="width:100%; height:400px;" id="chart1"></div>

        </div>
    </div>
    <!--col-md-12 end-->
</div>
<!--row end-->

<!--row start-->
<div class="row">
    <!--col-md-6 start-->
    <div class="col-md-6">
        <!--box-info start-->
        <div class="box-info">
            <h4>To Do List </h4>
            <!--sortable-todo start-->
            <ul class="to-do-list" id="sortable-todo">
                <li class="clearfix"> <span class="drag-marker"> <i></i> </span>
                    <div class="todo-check pull-left">
                        <input type="checkbox" value="None" id="todo-check">
                        <label for="todo-check"></label>
                    </div>
                    <p class="todo-title"> Lorem ipsum dolor sit amet, consectetuer adipiscing </p>
                    <div class="todo-actionlist pull-right clearfix"> <a href="#" class="todo-done"><i class="fa fa-check"></i></a> <a href="#" class="todo-edit"><i class="fa fa-pencil"></i></a> <a class="todo-remove"><i class="fa fa-times icon-muted"></i></a> </div>
                </li>
                <li class="clearfix todo-list-active"> <span class="drag-marker"> <i></i> </span>
                    <div class="todo-check pull-left">
                        <input type="checkbox" value="None" id="todo-check1">
                        <label for="todo-check1"></label>
                    </div>
                    <p class="todo-title"> Lorem ipsum dolor sit amet, consectetuer adipiscing </p>
                    <div class="todo-actionlist pull-right clearfix"> <a href="#" class="todo-done"><i class="fa fa-check"></i></a> <a href="#" class="todo-edit"><i class="fa fa-pencil"></i></a> <a class="todo-remove"><i class="fa fa-times icon-muted"></i></a> </div>
                </li>
                <li class="clearfix"> <span class="drag-marker"> <i></i> </span>
                    <div class="todo-check pull-left">
                        <input type="checkbox" value="None" id="todo-check2">
                        <label for="todo-check2"></label>
                    </div>
                    <p class="todo-title"> Lorem ipsum dolor sit amet, consectetuer adipiscing </p>
                    <div class="todo-actionlist pull-right clearfix"> <a href="#" class="todo-done"><i class="fa fa-check"></i></a> <a href="#" class="todo-edit"><i class="fa fa-pencil"></i></a> <a class="todo-remove"><i class="fa fa-times icon-muted"></i></a> </div>
                </li>
                <li class="clearfix"> <span class="drag-marker"> <i></i> </span>
                    <div class="todo-check pull-left">
                        <input type="checkbox" value="None" id="todo-check3">
                        <label for="todo-check3"></label>
                    </div>
                    <p class="todo-title"> Lorem ipsum dolor sit amet, consectetuer adipiscing </p>
                    <div class="todo-actionlist pull-right clearfix"> <a href="#" class="todo-done"><i class="fa fa-check"></i></a> <a href="#" class="todo-edit"><i class="fa fa-pencil"></i></a> <a class="todo-remove"><i class="fa fa-times icon-muted"></i></a> </div>
                </li>
                <li class="clearfix"> <span class="drag-marker"> <i></i> </span>
                    <div class="todo-check pull-left">
                        <input type="checkbox" value="None" id="todo-check4">
                        <label for="todo-check4"></label>
                    </div>
                    <p class="todo-title"> Lorem ipsum dolor sit amet, consectetuer adipiscing </p>
                    <div class="todo-actionlist pull-right clearfix"> <a href="#" class="todo-done"><i class="fa fa-check"></i></a> <a href="#" class="todo-edit"><i class="fa fa-pencil"></i></a> <a class="todo-remove"><i class="fa fa-times icon-muted"></i></a> </div>
                </li>
                <li class="clearfix"> <span class="drag-marker"> <i></i> </span>
                    <div class="todo-check pull-left">
                        <input type="checkbox" value="None" id="todo-check5">
                        <label for="todo-check5"></label>
                    </div>
                    <p class="todo-title"> Lorem ipsum dolor sit amet, consectetuer adipiscing </p>
                    <div class="todo-actionlist pull-right clearfix"> <a href="#" class="todo-done"><i class="fa fa-check"></i></a> <a href="#" class="todo-edit"><i class="fa fa-pencil"></i></a> <a class="todo-remove"><i class="fa fa-times icon-muted"></i></a> </div>
                </li>
            </ul>
            <!--sortable-todo end-->
            <!--todo-action-bar start-->
            <div class="todo-action-bar">
                <!--row start-->
                <div class="row">
                    <div class="col-xs-3 btn-todo-select">
                        <button type="submit" class="btn btn-default"><i class="fa fa-check"></i> Select All</button>
                    </div>
                    <div class="col-xs-6 todo-search-wrap">
                        <input type="text" class="form-control search todo-search pull-right" placeholder=" Search">
                    </div>
                    <div class="col-xs-3 btn-add-task">
                        <button type="submit" class="btn btn-default btn-danger"><i class="fa fa-plus"></i> Add Task</button>
                    </div>
                </div>
                <!--row end-->
            </div>
            <!--todo-action-bar end-->
        </div>
        <!--box-info end-->
    </div>
    <!--col-md-6 end-->

    <!--col-md-6 start-->
    <div class="col-md-6">
        <div class="box-info">
            <h4>User Accounts</h4>
            <div class="table-responsive" style="overflow-x:auto">
                <table class="table">
                    <thead>
                    <tr>
                        <th width="6%"><input type="checkbox" id="select-all"></th>
                        <th width="22%">User ID</th>
                        <th width="50%">Email Address</th>
                        <th width="22%">Status</th>
                    </tr>
                    </thead>
                    <form></form>
                    <tbody class="selects">
                    <tr>
                        <td><input type="checkbox" class="checkbox1"></td>
                        <td>Dean</td>
                        <td>deane@yahoo.com</td>
                        <td><span class="label label-success">Approved</span></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="checkbox1"></td>
                        <td>Peter</td>
                        <td>peters@live.com</td>
                        <td><span class="label label-info">Pending</span></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="checkbox1"></td>
                        <td>Nathan</td>
                        <td>nathanl@gmail.com</td>
                        <td><span class="label label-warning">Suspended</span></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="checkbox1"></td>
                        <td>Steven</td>
                        <td>stevens@outlook.com</td>
                        <td><span class="label label-danger">Blocked</span></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="checkbox1"></td>
                        <td>Graeme</td>
                        <td>graemes@gmail.com</td>
                        <td><span class="label label-info">Pending</span></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="checkbox1"></td>
                        <td>Morne</td>
                        <td>mornem@gmail.com</td>
                        <td><span class="label label-warning">Suspended</span></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="checkbox1"></td>
                        <td>Quinton</td>
                        <td>quintonk@outlook.com</td>
                        <td><span class="label label-danger">Blocked</span></td>
                    </tr>
                    </tbody>

                    <tfoot>
                    <tr class="active">
                        <td colspan="4" class="text-left"><label for="action" style="margin-bottom:0">Action </label>
                            <select name="action">
                                <option value="Edit">Edit </option>
                                <option value="Aprove">Aprove </option>
                                <option value="Move">Move </option>
                                <option value="Delete">Delete </option>
                            </select></td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <!--col-md-6 end-->
</div>
<!--row end-->

<!--row start-->
<div class="row">

    <!--col-md-6 start-->
    <div class="col-md-6">
        <div class="box-info">
            <h4>Notification</h4>
            <div class="alert alert-info clearfix"> <span class="alert-icon"><i class="fa fa-envelope-o"></i></span>
                <div class="notification-info">
                    <ul class="clearfix notification-meta">
                        <li class="pull-left notification-sender"><span><a href="#">Scott henderson</a></span> send you a mail </li>
                        <li class="pull-right notification-time">5 min ago</li>
                    </ul>
                    <p> Urgent meeting for next proposal </p>
                </div>
            </div>
            <div class="alert alert-danger"> <span class="alert-icon"><i class="fa fa-facebook"></i></span>
                <div class="notification-info">
                    <ul class="clearfix notification-meta">
                        <li class="pull-left notification-sender"><span><a href="#">Peter Siddle</a></span> mentioned you in a post </li>
                        <li class="pull-right notification-time">9 Hours Ago</li>
                    </ul>
                    <p> Very cool photo John </p>
                </div>
            </div>
            <div class="alert alert-success "> <span class="alert-icon"><i class="fa fa-comments-o"></i></span>
                <div class="notification-info">
                    <ul class="clearfix notification-meta">
                        <li class="pull-left notification-sender">You have 7 message unread</li>
                        <li class="pull-right notification-time">2 min ago</li>
                    </ul>
                    <p> <a href="#">John Doe, Jack Flip</a> and <a href="#">6 others</a> </p>
                </div>
            </div>
            <div class="alert alert-warning "> <span class="alert-icon"><i class="fa fa-bell-o"></i></span>
                <div class="notification-info">
                    <ul class="clearfix notification-meta">
                        <li class="pull-left notification-sender">Domain Renew Deadline 7 days ahead</li>
                        <li class="pull-right notification-time">5 Days Ago</li>
                    </ul>
                    <p> Next 5 August Friday is the last day </p>
                </div>
            </div>
        </div>
    </div>
    <!--col-md-6 end-->

    <!--col-md-6 start-->
    <div class="col-md-6">
        <div class="kalendar"></div>
        <div class="list-group"> <a href="#" class="list-group-item text-ellipsis"> <span class="badge bg-danger">6:40</span> Consectetuer </a> <a href="#" class="list-group-item text-ellipsis"> <span class="badge bg-success">12:50</span> Lorem ipsum dolor sit amet </a> <a href="#" class="list-group-item text-ellipsis"> <span class="badge bg-light">17:30</span> Consectetuer adipiscing </a> </div>
    </div>
    <!--col-md-6 end-->
</div>
<!--row end-->

<!--row start-->
<div class="row">
    <!--col-md-8 start-->
    <div class="col-md-8">
        <div class="box-info">
            <div style="width:100%; height:300px" id="chart2"></div>
        </div>
    </div>
    <!--col-md-8 end-->

    <!--col-md-4 start-->
    <div class="col-md-4">
        <div class="box-info">
            <div class="block widget-notes">
                <div class="header dark">
                    <h4>Notes</h4>
                </div>
                <div contenteditable="true" class="paper"> Send e-mail to supplier<br>
                    <s>Conference at 4 pm.</s><br>
                    <s>Order a pizza</s><br>
                    <s>Buy flowers</s><br>
                    Buy some coffee.<br>
                    Dinner at Plaza.<br>
                    Take Alex for walk.<br>
                </div>
            </div>
        </div>
    </div>
    <!--col-md-4 end-->
</div>
<!--row end-->

</div>
<!--scrollable wrapper end-->
</div>
<!--margin-container end-->
</div>
<!--main end-->
