@page {
	padding:0px;
	margin:30px 0;
}
.template-block {
	padding: 0 15px;
	font-size:16px;
	width:758px;
}
.quote-title {
	font-size:18px;
	background-color:#3468AA;
	color:white;
	text-align:right;
	padding:5px 0;
}
.logo {
	margin:15px 0 0 15px;
	float:left;
	width:250px;
	display:inline-block;
	position:relative;
}
.address-part {
	margin:15px 0 0 10px;
	float:left;
	width:195px;
	display:inline-block;
}
.quote-data-part {
	width:275px;
	display:inline-block;
	float:right;
}
.left-part   {
	float:left;
}
.right-part {
	float:right;
}
.clear {
	clear:both;
}
.quote-label {
	border:1px solid #3468AA;
	background-color:#EEBC3C;
	padding:5px;
	font-weight:bold;
	width:100px;
	float:left;
	display:inline-block;
	height:20px;
}
.quote-data {
	border:1px solid #3468AA;
	padding:5px;
	width:150px;
	text-align:right;
	float:left;
	display:inline-block;
	height:20px;
}
.middle_part {
	padding:0 30px;
}
.prepared_for {
	float:left;
	width:270px;
	display:inline-block;
}
.account_manager_part {
	float:right;
	width:420px;
	display:inline-block;
}
.manager_photo {
	float:left;
	width:150px;
	display:inline-block;
}
.sub_title {
	font-size:20px;
	color:#767E76;
}
.account_manager {
	float:left;
	margin-right:40px;
	width:230px;
	display:inline-block;
}
.prepared-for-address {
	margin-top:10px;
}
.products {
	width:100%;
}
.products th {
	background:#3468AA;
	color:white;
	padding:5px 3px;
}
.product-items td{
	text-align:center;
	padding:5px 3px 10px 3px;
	border-bottom:1px solid #3468AA;
}
.thick_seperator {
	margin:10px 0 3px 0;
	border:2px solid #EEBC3C;
}
.thick_seperator_blue {
	margin:0px;
	border:2px solid #3468AA;
}
.thin_seperator {
	border-color:#3468AA;
}
.quote-total-label {
	border:1px solid #3468AA;
	background-color:#3468AA;
	padding:5px;
	font-weight:bold;
	color:white;
	width:100px;
	float:left;
	display:inline-block;
	height:20px;
}
#total_amount {
	border:1px solid #3468AA;
	background-color:#3468AA;
	padding:5px;
	font-weight:bold;
	color:white;
	width:150px;
	text-align:right;
	float:left;
	display:inline-block;
	height:20px;
}
.quote-total-left-margin {
	float:left;
	width:475px;
	display:inline-block;
}
.quote-total-part {
	float:right;
	right:0px;
	width:275px;
	display:inline-block;
}
.edit_icon {
	display:none;
}