@page {
	padding:0px;
	margin:30px 0;
}
.template-block {
	padding: 0 15px;
	font-size:14px;
	width:758px;
}
.logo {
	margin:15px 0 0 15px;
	float:left;
	width:300px;
	margin-right:250px;
	display:inline-block;
	position:relative;
}
.logo img {
	max-height:120px;
}
.quote-title {
	margin:15px 0 0 15px;
	float:left;
	width:170px;
	display:inline-block;
	text-align:right;
	color:#999;
	font-size:20px;
}
.company_info {
	float:left;
	width:305px;
	display:inline-block;
	margin-right:213px;
}
.quote_info {
	float:left;
	width:240px;
	display:inline-block;
}
.quote_data {
	background:#ccc;
	padding:5px;
	height:15px;
	margin-bottom:2px;
	font-weight:bold;
}
.quote-label {
	width:80px;
	float:left;
	display:inline-block;
	height:20px;
}
#quote_date, #quote_number {
	width:146px;
	float:left;
	display:inline-block;
	height:20px;
	text-align:right;
}
.clear {
	clear:both;
}
.left-50-part   {
	float:left;
	width:379px;
	display:inline-block;
}
.left_title {
	float:left;
	font-weight:bold;
	display:inline-block;
	width:114px;
}
.right_detail {
	float:left;
	display:inline-block;
	width:265px;
}
.margintop10 {
	margin-top:10px;
}
.products {
	width:100%;
}
.products th {
	background:#CCC;
	padding:5px 3px;
}
.product-items td{
	text-align:center;
	padding:5px 3px 10px 3px;
	border-bottom:1px solid #ccc;
}
.product-items tr:last-child td {
	border-bottom:3px solid #ccc;
}
.quote_total_info {
	float:left;
	width:240px;
	display:inline-block;
}
.quote_total_info .quote_data {
	background:white;
	text-align:right;
	font-weight:normal;
}
.quote_data_total  {
	margin-top:5px;
	text-align:right;
	padding:5px;
	height:15px;
	font-weight:bold;
	border:2px solid #000;
	border-left:none;
	border-right:none;
}
.company_name {
	font-weight:bold;
	position:relative;
	line-height:24px;
}
.company_address {
	margin:8px 0px;
	position:relative;
}
.notes_info {
	float:left;
	width:475px;
	display:inline-block;
	margin-right:43px;
}
.notes {
	margin-top:5px;
	position:relative;
	line-height:16px;
}
.comment_title {
	font-weight:bold;
	position:relative;
	line-height:24px;
	height:24px;
	margin-top:10px;
}